html, body {
  height: 100%;
}

@viewport {
  zoom: 1.0;
  width: device-width;
}

.greeting {
  color: #0c0c0e;
  padding: 1em;
}

.profile {
  color: #0c0c0e;
  display: inline-block;
  overflow: scroll;
  display: table;
}

.cover {
  display: table;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10%;
}

.textbox {
  height: 14rem;
  width: 20rem;
  color: white;
  background: #0c0c0e;
  padding: 7px;
}

header {
  background-color: #0c0c0e;
  height: 130px;
  color: white;
  padding: 1em;
}

nav {
  background: none;
  font-size: 24px;
  float: right;
  margin-top: 72px;
}

nav > button {
  color: #eee;
  background-color: none;
  background: none;
  border: none;
}

.divider {
  color: #eee;
}

nav > button:focus {
  outline:0;
  color: #999;
}

nav > button:hover {
  color: #999;
}

h2, #font1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

.home {
  text-align: center;
  text-transform: capitalize;
  width: 100vw;
  height: 100vh;
}

.list {
  color: #0c0c0e;
  text-decoration: none !important;
  float: left;
  margin: 10px 20px;
  width: 20rem;
}

.list:hover {
  color: #999;
}

footer {
	background: #0c0c0e;
  color: white;
	text-align: center;
  height: 4em;
  font-family: 'Handlee', cursive;
  font-size: 14px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/* Media Queries */

@media only screen and ( max-width : 568px ) {
    .cover h1 {
        font-size: 40px;
    }
    section {
        padding: 20px;
    }
}
