<div class="home">
  <h2 id="font1">Add Sitter</h2>
  <form ng-submit="main.addSitter(newSitter)" method="post">
    <input ng-model="newSitter.name" type="text" name="name" value="sitter" placeholder="name"><br><br>
    <input ng-model="newSitter.age" type="number" name="age" value="sitter" placeholder="age"><br><br>
    <input ng-model="newSitter.rate" type="number" name="rate" value="sitter" placeholder="rate"><br><br>
    <label for="stars">Stars 1-5</label><br>
    <input ng-model="newSitter.stars" type="number" min="1" max="5" name="stars" value="1" ng-model="newSitter.stars"><br><br>
    <input ng-model="newSitter.comments" type="text" name="comments" value="sitter" placeholder="comments"><br><br>
    <button class="btn btn-primary" type="submit">Add New Sitter</button>
  </form>
</div>
