<div class="cover">
  <h3 class="greeting">Hello {{main.user.username}}</h3>
  <div class="card profile">
    <a class="list" ui-sref="edit({sitter:sitter})" ng-repeat="sitter in main.user.sitterList">
      <div class="card-block">
        <h4 class="card-title">{{sitter.name}}</h4>
        <p class="card-text textbox">{{sitter.comments}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{sitter.age}} years old</li>
        <li class="list-group-item">${{sitter.rate}} per hour</li>
        <li class="list-group-item">{{sitter.stars}} out of 5 stars</li>
      </ul>
    </a>
  </div>
</div>
