<h2 id="font1" ng-show="auth.isLoggedIn">{{main.user.username}}'s List
<button class="btn btn-primary" ui-sref="add">Add</button></h2>
  <div class="cover">
    <a class="list"
    ui-sref="edit({sitter:sitter})" ng-repeat="sitter in main.user.sitterList">
      <!-- <div class='text'>Name: {{sitter.name}}</div>
      <div class='text'>Age: {{sitter.age}} years old</div>
      <div class='text'>Rate: ${{sitter.rate}} per hour</div>
      <div class='text'>Stars: {{sitter.stars}} stars</div>
      <div class='text'>Comments: {{sitter.comments}}</div>
      <div class="card" style="width: 20rem;"> -->
    <img class="card-img-top" id="profile" src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{sitter.name}}</h4>
      <p class="card-text">{{sitter.comments}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{sitter.age}} years old</li>
      <li class="list-group-item">${{sitter.rate}} per hour</li>
      <li class="list-group-item">{{sitter.stars}} stars</li>
    </ul>
    <div class="card-block">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
    </a>

  <br>
